@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-brand-dark text-white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Segoe UI", sans-serif;
}
